<h1>All Tasks</h1>
<%= link_to "Create new task", new_task_path %>
<% @tasks.each do |task|  %>
<div> <%= task.title %> </div>
<div> <%= task.description %> </div>
<div> <%= task.assign_to %> </div>
<% end %>
